[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[[headers]]
  for = "/*"
  [headers.values]
    Netlify-CDN-Cache-Control = "no-store"
    CDN-Cache-Control = "no-store"
    Cache-Control = "no-store, max-age=0, must-revalidate"

[[headers]]
  for = "/assets/*"
  [headers.values]
    Netlify-CDN-Cache-Control = "public, s-maxage=31536000, immutable"
    CDN-Cache-Control = "public, s-maxage=31536000, immutable"
    Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 404

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
